<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تشغيل فيديو على الشاشة</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Nunito:wght@300;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="card">
    <h1>
        <span>H</span>
        <span>E</span>
        <span>L</span>
        <span>L</span>
        <span>O</span>
        <span>!</span>
    </h1>
    <h1>Play video on TV</h1>
    <input type="text" id="videoUrl" placeholder="Put the link here">
    <br>
    <button onclick="playVideo()">▶ Start Video </button>
    <br>
    <button onclick="changeVolume('up')">+</button>
    <button onclick="changeVolume('down')">-</button>
    <button onclick="changeVolume('mute')">mute</button>
    <button onclick="fetch(`${NGROK_URL}/mute`, {method: 'POST', headers: {'Authorization': `Bearer ${AUTH_TOKEN}`}}).then(r => r.json()).then(d => console.log(d)).catch(e => console.error(e))">🔇 Test Mute</button>

    <br>
    <p id="statusE">📺</p>
    <p id="status"></p>
    <h2>Some Channels</h2>
    <hr style="width: 50%;">
    <hr style="width: 50%;">

    <button onclick="playPresetVideo(this)" id="f" data-url="https://www.youtube.com/watch?v=bNyUyrR0PHo&ab_channel=AlJazeeraArabic%D9%82%D9%86%D8%A7%D8%A9%D8%A7%D9%84%D8%AC%D8%B2%D9%8A%D8%B1%D8%A9https://www.youtube.com/watch?v=PVHVV6pzz3U&ab_channel=%D8%A7%D8%A8%D9%88%D9%85%D8%AD%D8%B3%D9%86">▶ قناة الجزيرة</button>
    <button onclick="playPresetVideo(this)" data-url="https://www.youtube.com/@osh3lek">▶ قناة ملزلز</button>
    <br>
    <button onclick="reboot('reboot')">Reboot The TV</button>
    <p id="status">📺 في انتظار الأوامر...</p>
    <button onclick="window.location.href='/services'">Some Services</button>
    </div>
    <script src="main.js"></script>
</body>
</html>
