<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thamer Main Page</title>
</head>
<body>
    <h1>Hi I'm Thamer<br>Welcome to my Project Hub</h1>
    <h2>Here some of the project i've built</h2>

    <h3>Control TV Through Server</h3>
    <button onclick="window.location.href='/services'">Some Services</button>
    <button onclick="window.location.href='/newP'">Some Services</button>
    <a href="/services">
        <button>Some Services</button>
      </a>
      
    <h3>Home Cloud Storage Server</h3>
</body>
</html>