<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thamer Main Page</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
        
    </style>
</head>
<body>
    <div class="card">
    <h2>Hi I'm Thamer<br>Welcome to my Project Hub</h2><br>
    <h2>Here some of the project i've built</h2>

    <a href="{{ url_for('tv_control_page') }}" class="button-link">Control TV Through Server</a>
    <a href="{{ url_for('currency_converter_page') }}" class="button-link">Currency Conventor</a>

    <button onclick='window.open("https://ed56-2001-16a2-f715-3100-4c7e-d8c5-6083-8c6f.ngrok-free.app","_blank")'>Open savings</button>
    </div>
</body>

    
</html>